name: build

on:
  pull_request:

jobs:
  Build:
    runs-on: self-hosted
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v3
      - name: Build binaries(Kernel, Busybox, Python, Initrd) on Self-Hosted runner
        run: |
          make clean && make

